<!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color: <%= @background %>;">
  <h1>Guess a number from 1 to 100.</h1>
  <% if !session[:guesses].nil? %>
  <p>Your guesses so far:</p>
  <% session[:guesses].each do |g| %>
    <p><%= g %></p>
  <% end %>
  <% end %>
  <br>
  <% if !@message.nil? %>
    <h3><%= @message %>
  <% end %>
  <br>
  <form action="/playagain" method="post">
  <input type="submit" value="Play Again">
  </form>
</body>
</html>
